node_modules
.env
prod.env
errors.log

public/uploads/documents/*
public/uploads/profiles/*
public/uploads/products/*

!public/uploads/documents/.gitkeep
!public/uploads/profiles/.gitkeep
!public/uploads/products/.gitkeep